<div class="footer  d-flex flex-column min-vh-50 ">
<footer class=" footer bg-secondary text-white text-center py-3 mt-auto  ">
    <div class="container">
      <p class="mb-0">&copy; 2025 ABC University. All Rights Reserved.</p>
    </div>
  </footer>
</div>


