<% layout('/layouts/boilerplate') %>



    <div class="row mt-3">
        <h2 class="col-6 offset-3">Login in university </h2><br><br><br><br>
        <div class="sign">
        <div class="col-6 offset-3">
            <form action="/login" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" >Username</label>
                    <input type="text" name="username" placeholder="username" class="form-control" required />
                
                </div>

                

                <div class="mb-3">
                    <label for="password" >Password</label>
                    <input type="password" name="password" placeholder="password" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-success">Login</button>
     <% if (error && error.length > 0) { %>
  <div class="alert alert-danger">
    <%= error %>
  </div>
<% } %>


            </form>
        </div>
    </div>
    </div>